<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntnu.wip.nabl">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MVCControllers.MainActivityController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MVCControllers.ProjectClientSelectorController" />
        <activity android:name=".MVCControllers.ManageProjectClientInteraction.Overview.OverviewController" />
        <activity android:name=".MVCControllers.ManageProjectClientInteraction.Register.RegisterController" />
        <activity android:name=".MVCControllers.ExportController" />
        <activity android:name=".MVCControllers.ManageTimeLogging.LoggingController" />
        <activity android:name=".MVCControllers.ManageTimeLogging.NewInputController.LoggingInputController"/>
    </application>

</manifest>